apiVersion: apps/v1
kind: Deployment
metadata:
  name: hotstuff-worker
spec:
  replicas: 4
  selector:
    matchLabels:
      app: hotstuff-worker
  template:
    metadata:
      labels:
        app: hotstuff-worker
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9100"
        prometheus.io/path: "/metrics"
    spec:
      containers:
        - name: worker
          image: uliaskar/hotstuff-worker:latest #update path later
          imagePullPolicy: Always
          securityContext:
            runAsUser: 0
            runAsNonRoot: false
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
            seccompProfile:
              type: RuntimeDefault
        - name: node-exporter
          image: prom/node-exporter:latest
          ports:
            - containerPort: 9100
          