name: Prometheus exporter deployment
on: 
  workflow_dispatch:

jobs:
  verify_service_account:
    name: Verify kubernetes
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4


      - name: Apply Kubernetes manifests
        run: |
          echo "Applying manifests..."
          kubectl apply -n monitoring -f scripts/exporter/


      - name: Verify Prometheus exporter metrics
        run: |
          kubectl rollout status deployment/hotstuff-exporter -n monitoring
          kubectl port-forward svc/hotstuff-exporter -n monitoring 9108:9108 &
          sleep 3
          curl -s http://localhost:9108/metrics | head -20


      - name: Run Hotstuff
        run: |
          CONTROLLER_POD=$(kubectl get pods -n apps -l app=hotstuff-controller -o jsonpath="{.items[0].metadata.name}")
          kubectl exec -n apps $CONTROLLER_POD -- hotstuff run --config=/config/example_config.cue --output /data/measurements.json

