name: Verify Kubernetes
on: 
  workflow_dispatch:

jobs:
  verify_service_account:
    name: Verify kubernetes
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Verify Kubernetes connectivity
        run: |
          echo "Checking Kubernetes access..."
          kubectl cluster-info
          kubectl get nodes

      - name: Apply Kubernetes manifests
        run: |
          echo "Applying manifests..."
          kubectl apply -n apps -f scripts/controller-deployment.yaml
          kubectl apply -n apps -f scripts/worker-deployment.yaml
#         kubectl apply -n apps -f scripts/controller-service.yaml


      - name: Wait for pods to become ready
        run: |
          kubectl rollout status deployment/hotstuff-controller -n apps
          kubectl rollout status deployment/hotstuff-worker -n apps


      - name: Verify deployments
        run: |
          kubectl get pods -n apps -o wide
          kubectl get svc -n apps

      - name: Cleanup old resources
        run: |
          kubectl delete -n apps -f scripts/ --ignore-not-found=true

