name: Verify Kubernetes
on: 
  workflow_dispatch:

jobs:
  verify_service_account:
    name: Verify kubernetes
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Verify Kubernetes connectivity
        run: |
          echo "Checking Kubernetes access..."
          kubectl cluster-info
          kubectl get nodes

      - name: Apply Kubernetes manifests
        run: |
          echo "Applying manifests..."
          kubectl apply -n apps -f scripts/controller-deployment.yaml
          kubectl apply -n apps -f scripts/worker-deployment.yaml
#         kubectl apply -n apps -f scripts/controller-service.yaml

      - name: Deploy Prometheus
        run: |
          kubectl create namespace monitoring --dry-run=client -o yaml | kubectl apply -f -
          kubectl apply -n monitoring -f scripts/prometheus-config.yaml
          kubectl apply -n monitoring -f scripts/prometheus-deployment.yaml
          kubectl apply -n monitoring -f scripts/prometheus-service.yaml
          kubectl apply -f scripts/prometheus-rbac.yaml

      - name: Deploy Grafana
        run: |
          kubectl apply -n monitoring -f scripts/grafana/grafana-deployment.yaml
          kubectl apply -n monitoring -f scripts/grafana/grafana-service.yaml

      - name: Wait for pods to become ready
        run: |
          kubectl rollout status deployment/hotstuff-controller -n apps
          kubectl rollout status deployment/hotstuff-worker -n apps
          
      - name: Wait for Prometheus pod to be ready
        run: |
          kubectl rollout status deployment/prometheus -n monitoring
          kubectl rollout status deployment prometheus -n monitoring

      - name: Wait for Grafana pod to be ready
        run: |
          kubectl rollout status deployment/grafana -n monitoring

      - name: Verify deployments
        run: |
          kubectl get pods -n apps -o wide
          kubectl get svc -n apps
          kubectl get pods -n monitoring -o wide
          kubectl get svc -n monitoring

      

      - name: Check Prometheus targets
        run: |
          kubectl get configmap prometheus-config -n monitoring -o yaml | grep -A 15 "scrape_configs"
          kubectl exec -n monitoring deploy/prometheus -- cat /etc/prometheus/prometheus.yml
          kubectl port-forward -n monitoring svc/prometheus 9090:80 &
          sleep 5 
          curl http://localhost:9090/api/v1/targets | jq .

      - name: Port-forward Grafana
        run: |
          kubectl port-forward -n monitoring svc/grafana 3001:80 &
          sleep 5
          curl -s http://localhost:3000/api/health | jq .

      - name: Run Hotstuff
        run: |
          CONTROLLER_POD=$(kubectl get pods -n apps -l app=hotstuff-controller -o jsonpath="{.items[0].metadata.name}")
          kubectl exec -n apps $CONTROLLER_POD -- hotstuff run --config=/config/example_config.cue
      
      
      - name: Pause for inspection
        run: |
          sleep 180  # Wait 3 minutes before cleanup
      

      - name: Cleanup old resources
        run: |
          kubectl delete -n apps -f scripts/controller-deployment.yaml --ignore-not-found=true
          kubectl delete -n apps -f scripts/worker-deployment.yaml --ignore-not-found=true

      - name: Cleanup Prometheus resources
        run: |
          kubectl delete -n monitoring -f scripts/prometheus-deployment.yaml --ignore-not-found=true
          kubectl delete -n monitoring -f scripts/prometheus-service.yaml --ignore-not-found=true
          kubectl delete -n monitoring -f scripts/prometheus-config.yaml --ignore-not-found=true

      - name: Cleanup Grafana resources
        run: |
          kubectl delete -n monitoring -f scripts/grafana/grafana-deployment.yaml --ignore-not-found=true
          kubectl delete -n monitoring -f scripts/grafana/grafana-service.yaml --ignore-not-found=true
      
