name: Verify Kubernetes
on: 
  workflow_dispatch:

jobs:
  verify_service_account:
    name: Verify kubernetes
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4


      - name: Verify Kubernetes connectivity
        run: |
          echo "Checking Kubernetes access..."
          kubectl cluster-info
          kubectl get nodes

      - name: Apply Kubernetes manifests
        run: |
          echo "Applying manifests..."
          kubectl apply -n apps -f scripts/controller-deployment.yaml
          kubectl apply -n apps -f scripts/worker-deployment.yaml

      - name: Deploy Prometheus and exporter
        run: |
          kubectl create namespace monitoring --dry-run=client -o yaml | kubectl apply -f -
          kubectl apply -n monitoring -f scripts/prometheus-config.yaml
          kubectl apply -n monitoring -f scripts/prometheus-deployment.yaml
          kubectl apply -n monitoring -f scripts/prometheus-service.yaml
          kubectl apply -f scripts/prometheus-rbac.yaml
          kubectl apply -f scripts/exporter/exporter-service.yaml -n apps


      - name: Wait for pods to become ready
        run: |
          kubectl rollout status deployment/hotstuff-controller -n apps
          kubectl rollout status deployment/hotstuff-worker -n apps
          
      - name: Wait for Prometheus pod to be ready
        run: |
          kubectl rollout status deployment/prometheus -n monitoring
          kubectl rollout status deployment prometheus -n monitoring

      - name: Verify deployments
        run: |
          kubectl get pods -n apps -o wide
          kubectl get svc -n apps
          kubectl get pods -n monitoring -o wide
          kubectl get svc -n monitoring


      # Running simulation with example_config.cue
      - name: Run Hotstuff 
        run: |
          CONTROLLER_POD=$(kubectl get pods -n apps -l app=hotstuff-controller -o jsonpath="{.items[0].metadata.name}")
          kubectl exec -n apps $CONTROLLER_POD -- hotstuff run --config=/config/example_config.cue --output /data --measurement-interval=5s
          kubectl exec -n apps $CONTROLLER_POD -- cat /data/local/measurements.json


      # Veryfying simulation metrics (latency, throughput)
      - name: Verify Prometheus exporter metrics 
        run: |
          echo "Veryfying the metrics"
          kubectl port-forward svc/hotstuff-exporter -n apps 9108:9108 &
          sleep 5
          curl -s http://localhost:9108/metrics | grep -v '^# HELP' | grep -v '^# TYPE'
    
      # Veryfying pods metrics
      - name: Check Prometheus targets
        run: |
          kubectl get configmap prometheus-config -n monitoring -o yaml | grep -A 15 "scrape_configs"
          kubectl exec -n monitoring deploy/prometheus -- cat /etc/prometheus/prometheus.yml
          kubectl port-forward -n monitoring svc/prometheus 9090:80 &
          sleep 5 
          curl http://localhost:9090/api/v1/targets | jq .
   
      # Running simulations with .cue from scripts/test_configs/
      - name: Run all Hotstuff experiment configs 
        run: |
          set -euo pipefail

          for CONFIG in scripts/test_configs/*.cue; do
            CONTROLLER_POD=$(kubectl get pods -n apps -l app=hotstuff-controller -o jsonpath="{.items[0].metadata.name}")
            BASENAME=$(basename "$CONFIG")
            echo ">>> Running experiment $BASENAME..."
            kubectl exec -n apps "$CONTROLLER_POD" -- hotstuff run --config="/config/$BASENAME"

          done
      
      - name: Pause for inspection
        run: |
          sleep 300  # Wait 5 minutes before cleanup
      
      # Cleanup
      - name: Cleanup old resources
        run: |
          kubectl delete -n apps -f scripts/controller-deployment.yaml --ignore-not-found=true
          kubectl delete -n apps -f scripts/worker-deployment.yaml --ignore-not-found=true

      - name: Cleanup Prometheus resources
        run: |
          kubectl delete -n monitoring -f scripts/prometheus-deployment.yaml --ignore-not-found=true
          kubectl delete -n monitoring -f scripts/prometheus-service.yaml --ignore-not-found=true
          kubectl delete -n monitoring -f scripts/prometheus-config.yaml --ignore-not-found=true

      - name: Cleanup exporter resources
        run: |
          kubectl delete -n apps -f scripts/exporter/exporter-service.yaml --ignore-not-found=true
