name: Pods cleanup (optional)
on:
  workflow_run:
    workflows: ["Verify Kubernetes"]
    types: [completed]
  workflow_dispatch:

jobs:
  cleanup_on_cancel:
    runs-on: self-hosted
    if: |
      github.event_name == 'workflow_dispatch' || 
      (github.event_name == 'workflow_run' && 
       (github.event.workflow_run.conclusion == 'cancelled' || 
        github.event.workflow_run.conclusion == 'failure'))
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cleanup old resources
        run: |
          kubectl delete -n apps -f scripts/controller-deployment.yaml --ignore-not-found=true
          kubectl delete -n apps -f scripts/worker-deployment.yaml --ignore-not-found=true

      - name: Cleanup Prometheus resources
        run: |
          kubectl delete -n monitoring -f scripts/prometheus-deployment.yaml --ignore-not-found=true
          kubectl delete -n monitoring -f scripts/prometheus-service.yaml --ignore-not-found=true
          kubectl delete -n monitoring -f scripts/prometheus-config.yaml --ignore-not-found=true

      - name: Cleanup exporter resources
        run: |
          kubectl delete -n apps -f scripts/exporter/exporter-service.yaml --ignore-not-found=true
